{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}Tus Propiedades{% endblock %}

{% block content %}
<div class="container ml-container" style="padding-bottom: 30px">
    <h1 class="text-center">Reserva</h1>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            {% if messages %}
            <div class="alert alert-success" role="alert"><h1 style="margin: 0px; display: inline-block"><span class="glyphicon glyphicon-ok-sign"></span> Reserva realizada con exito</h1>
                <a href="/" class="btn btn-info" style="float: right">OK</a></div>
            {% endif %}
            <div class="panel panel-default panel-hotel">

                <div class="panel-body" style="background-color: black;">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="{% static 'img/hotel.jpg' %}" class="img-responsive img-thumbnail img-estate" alt="">
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h2 style="color: white;"> {{e.title}}</h2>
                                    <h5 style="color: white;">{{e.description}}</h5>
                                </div>
                                <div class="col-lg-4 text-right hotel-dates" style="color: rgba()">
                                    <p style="color: white;"><b>Ciudad:</b> {{e.city}}</p>
                                    <p style="color: white;"><b>Propietario:</b> {{e.host}}</p>
                                    <p style="color: white;"><b>Max. Pax:</b> {{e.maxPax}}</p>
                                    <p style="color: #04519b"><b>Fecha límite:</b> {{e.dateTo}}</p>
                                </div>
                            </div>
                            <div class="well well-service">
                                <h6 style="color: black;font-size: 15px;">Servicios</h6>
                                <p style="font-weight: bold;">{{e.services}}</p>
                            </div>
                            <div class="well well-confort">
                                <h6 style="color: black;font-size: 15px;">Comodidades</h6>
                                <p style="font-weight: bold;">{{e.confort}}</p>
                            </div>
                            <div>
                                <span style="color: black !important;">
                                    <h4 style="color: white;margin-left: 75%">$ {{e.price}} por día</h4>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 reserve_sheet">
                    <h2 class="text-center">Datos del huesped</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p>
                            <label for="">Fecha desde:</label>
                            <input type="date" name="dateFrom" class="form-control" value="{{now}}">
                        </p>
                        <p>
                            <label for="">Fecha hasta:</label>
                            <input type="date" name="dateTo" class="form-control">
                        </p>
                        <button type="submit" class="btn btn-lg btn-warning" style="width: 100%"><span class="glyphicon glyphicon-edit"></span> Reservar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}